name: ez4
services:
  dynamodb:
    image: amazon/dynamodb-local
    restart: always
    ports:
      - 8000:8000
  postgres:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
